<%= javascript_pack_tag 'login' %>
<div class="forms">
<h2>Create an Account</h2>
<%= form_for @user do |u| %>
<label>Username</label>
<%= u.text_field :username, required: true %><br>
<label>First Name</label>
<%= u.text_field :first_name, required: true %><br>
<label>Last Name</label>
<%= u.text_field :last_name, required: true %><br>
<label>Email</label>
<%= u.email_field :email, required: true %><br>
<label>Password</label>
<%= u.password_field :password, required: true %><br>
<label>Confirm Password</label>
<%= u.password_field :password_confirmation, required: true %><br>
<%= u.submit "Create User" %> <br>
<% end %>
<div id="guestBox">
<button v-on:click="show = !show" id="guestLogin" class="guestLogIn">
Continue as a Guest?
</button>
  <transition name="fade">
<div v-if="show" class="guestSignIn">
  <div class="forms">
    <div v-on:click="show = !show" id="guestClose" class="closeButton">x</div>
  <h2>Guest Sign In</h2>
  <%= form_for @guest_user do |guest| %>
  <label>Name</label>
  <%= guest.text_field :name %> <br>
  <label>Email</label>
  <%= guest.email_field :email, required: true %> <br>
  <%= guest.submit "Create Guest" %>
  <% end %>
</div>
</div>
</div>
</transition>
<div id="userBox">
<button v-on:click="show = !show" id="logIn" class="guestLogIn"> Already have an account? </button>
<transition name="fade">
<div v-if="show"  class="logIn">
<%= render "sessions/new" %>
</div>
</transition>
</div>
