<div class="postBackground">

<% if logged_in? %>
<h2>Post as <%=current_user.username %></h2>

<%= render "posts/posts" %>
<%= render "posts/index" %>

<% else %>
<h2>Post as a Guest</h2>

<%= render "posts/posts" %>
<%= render "posts/index" %>

<% end %>
</div>
