<div class="search">
<div class="results animated fadeInUp">
<h2>Results for "Doctors" with keyword "Counseling".</h2>
<% if @counseling != nil && @counseling["Status"] == "ZERO_RESULTS" %>
<p>No results for this search.</p> <br>
<% else %>
<% @counseling_r.zip(@c_urls).first(10).each do |s,url| %>
<a href="<%=url%>" target="_blank"> <%= "#{s['name']}" %></a> <br>
<% end %>
<% end %>
<h2>Results for "Doctors" with keyword "Psychiatrist".</h2>
<% if @psychiatrist != nil && @psychiatrist["Status"] == "ZERO_RESULTS" %>
<p>No results for this search.</p> <br>
<% else %>
<% @psychiatrist_r.zip(@psycha_urls).first(10).each do |s,url| %>
<a href="<%=url%>" target="_blank"> <%= "#{s['name']}" %></a> <br>
<% end %>
<% end %>
<h2>Results for "Doctors" with keyword "Psychologist".</h2>
<% if @psychologist != nil && @psychologist["Status"] == "ZERO_RESULTS" %>
<p>No results for this search.</p> <br>
<% else %>
<% @psychologist_r.zip(@psycho_urls).first(10).each do |s,url| %>
<a href="<%=url%>" target="_blank"> <%= "#{s['name']}" %></a> <br>
<% end %>
<% end %>
<h2>Results for "Doctors" with keyword "Therapy".</h2>
<% if @therapy != nil && @therapy["Status"] == "ZERO_RESULTS" %>
<p>No results for this search.</p> <br>
<% else %>
<% @therapy_r.zip(@t_urls).first(10).each do |s,url| %>
<a href="<%=url%>" target="_blank"> <%= "#{s['name']}" %></a> <br>
<% end %>
<% end %>


</div>


</div>
