<!DOCTYPE html>
<html>
  <head>
    <title>SteamVents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if logged_in? %>
      <%= link_to "Steam Vents", @user %> <br>
      <%= link_to "Health Search", root_path %> <br>
      <% else %>
      <%= link_to "Steam Vents", new_user_path %> <br>
      <%= link_to "Health Search", root_path %> <br>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
